
.menu {
    padding: 35px, 45px, 35px, 45px;
    margin: 35px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.food {
    width: 29%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(rgb(221, 215, 202),rgba(161, 132, 68,0.4));
    margin: 20px auto;
    border: 2px solid rgba(177, 177, 177, 0.5);
}


.food img {
    position:relative;
    width: 100%;
    border-radius: 15px;
}

.details {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 10px;
    grid-row-gap: 15px;
}


.details-sub {
    display: block;
    grid-template-columns: auto auto;
}

.details-sub h5{
    float: left;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    color: #886e6e;
}

.food-price {
    float: right;
}

.details p {
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
    color: #ffffff;
}

.add-basket {
    padding: 50px 0 0 0;
    text-align: center;
}

.details button {
    margin: auto ;
    background-color: #867070;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    border-radius: 50px;
    width: 75%;
}



@media screen and (max-width: 925px) {

    .menu {
        flex-wrap: wrap;
        
    }

    .menu h5 {
        font-size: 15px;
    }

    .menu button {
        font-size: 18px;
    }

    .food {
        width: 40%;
    }
}

@media screen and (max-width: 700px) {
    
/* ----- içerik ----- */    
    
    .food {
        width: 75%;
    }
}