body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-image: url(..//img//loginBack3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-frame {
    width: 300px;
    height: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-in {
    width: 100%;
    padding: 40px;
}

.login-in h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.register-frame {
    width: 300px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.register-in {
    width: 100%;
    padding: 40px;
}

.register-in h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

::placeholder {
    color: rgb(2, 1, 7);
    opacity: 50%;
}

.icon-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    z-index: 1000;
}
/*
.input {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}

.input:focus {
    width: 270px;
    border-color: #ffc400ec;
}
*/
#submit {
    width: 100%;
    height: 45px;
    border: none;
    background: #162938;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;   
}

.kayit {
    text-align: center;
    margin-top: 10px;
}

.kayit a {
    
    color: #fff;
}
