*, *::before, *::after {
    padding: 0;
    margin: 0;  
    box-sizing: border-box; 
}

hr {
    height: 1px;
    border-color: rgb(207, 124, 124);
}
/*
    ------------------------------------------------
*/

.frame {
    grid-template-columns: repeat(auto-fit, minmax (350px, 1fr));
    font-family: Lucida Handwriting;
    background: #F5EBEB;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
    background-blend-mode: darken;
}

/*
    ------------------------------------------------
*/

.top-items {
    position: fixed;
    width: 13%;
    height: 4%;
    right: 0;
    top: 0;
    z-index: 1000;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 5px;
}

.top-items a {
    margin-right: 0px;
    font-size: 1.8rem;
    text-decoration: none;
    color: #867070;
}  

.login {
    float: left;
}

.login a:hover {
    color: #5f4848;
}

.lang {
    float: right;
    position: relative;
}

.langBut {
    background: none;
    border: none;
    text-decoration: none;
    color: #867070;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0;
}

.langBut:hover {
    color: #5f4848;
}

.dropdown {
    /* display: none; */
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 1000000;
}

.dropdown a:hover {
    color: #5f4848;
}

.lang > .langBut:focus + .dropdown {
    opacity: 1;
    transform: translateY(0);
}

/*
    ------------------------------------------------
*/

.top-view {
    height: 4%;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius:  0 0 80% 80%;
    position: fixed;
    z-index: 1000;
    left:50%;
    transform:translate(-50%,0);
}

.top-view h3 {
    
    color: #867070;
    margin: 0 auto;
}


/*
    ------------------------------------------------
*/

.header {
    color: #867070;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}

.hotel-name {
    font-family:Lucida Handwriting ;
    margin-top: 35px;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.hotel-name h1 {
    font-size: 50px;
}

.menu-title {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}

.menu-title h3 {
    font-size: 25px;
}

/*
    ------------------------------------------------
*/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #F5EBEB;
}

body {
    overflow-x: hidden;
}

/*
    ------------------------------------------------
*/

.navbar-frame {
    width: 100%;
    top: 0;
    left: 0;
}

.navbar {
    font-family: Lucida Handwriting;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #867070;
    border-radius: 25px;
}

.navbar a {
    text-decoration: none;
}

.navbar ul {
    list-style: none;
}


.menu-icons {
    color: #867070;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

nav {
    display:flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.logo {
    margin-right: 40px;
    margin-left: 2rem;
}

.logo a {
    width: 5rem;
    height: 5rem;
    background-color: #867070;
    display: flex;
    border-radius: 100%;
    
}

.logo i {
    margin: auto;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.nav-list-ul {
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-list li {
    line-height: 8rem;
    position: relative;
}

.sub-menu li{
    line-height: 4rem;
}

.nav-list a {
    display: block;
    color: #836e6e;
    padding: 0 1rem;
    padding-top: 1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 650ms;
}

.nav-list a:hover {
    color: #d8c5c5;
}


.sub-menu {
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 3px solid #E4D0D0;
    background-color: rgba(199, 183, 183, 0.9);
    border-radius: 10%;
    z-index: 100;
    top: 16rem;
    transition: all 750ms ease-out; 
    opacity: 0;
    visibility: hidden;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: #E4D0D0;
}

.sub-menu .sub-menu::before {
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: #E4D0D0;
}

.sub-menu .sub-menu {
    border-top: none;
    border-left: 3px solid #E4D0D0;
    top: 0;
    left: 125%;
}

.nav-list li:hover > .sub-menu {
    top: 8rem;
    opacity: 1;
    visibility:visible;
}

.sub-menu li:hover > .sub-menu {
    top: 0;
    left: 100%;
}

/*
    ------------------------------------------------
*/

.sepet {
    width: 75px;
    height: 40px;
    color: #F5EBEB;
    font-size: 2.5rem;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 1000;
    background-color: #a89184;
    border-radius: 10px;
    text-align: center;
}

/*
    ------------------------------------------------
*/      

.menu-shopping {
    max-width: 1200px;
    margin-top: 50px;
    text-align: center;
  }
  
  .video-wrapper {
    margin-bottom: 20px;
  }
  
  #showCode {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #code-wrapper {
    display: none;
    margin-top: 20px;
  }
  
  #code-wrapper p {
    font-size: 18px;
    font-weight: bold;
  }
  
  #code-wrapper span {
    border-bottom: 2px solid #000;
  }


/*
    ------------------------------------------------
*/  
    
.cityImg {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
.cityImg img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5%;
}

.image-overlay {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(24, 22, 22, 0.6);
    padding: 20px;
    border-radius: 5%;
}

.overlay-text p {
    color: #E4D0D0;
    font-family:monospace;
    font-size: 11px
}

  @media (min-width: 768px) {
    header {
      padding: 40px;
    }
    
    .cityImg {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      padding: 40px;
      
    }
  
    .cityImg p {
      flex: 1;
      margin-right: 50px;
    }

    .overlay-text {
        padding: 40px;
      }
  }

/*
    ------------------------------------------------
*/

.menu {
    padding: 35px, 45px, 35px, 45px;
    margin: 35px auto;
    width: 100%;
}

.category {
    width: 40%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgba(161, 132, 68,0.4),rgb(167, 137, 137)); 
    /*background: #867070;*/
    margin: 20px auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    
}


.category img {
    position: relative;
    width: 100%;
    border-radius:  50px;
}

.details {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 10px;
    grid-row-gap: 15px;
}


.details-sub {
    display: block;
    grid-template-columns: auto auto;
}

.details-sub h5{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #867070;
}

.details p {
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
    color: #867070;
}

.go-link {
    text-align: center;
    margin: auto ;
    background-color: #F5EBEB;
    border: none;
    font-size: 20px;
    font-weight: 100;
    border-radius: 50px;
    width: 75%;
}

.go-link a {
    color: #867070;
    text-decoration: none;
}

.go-link a:hover {
    color: #e2e2e2;
}

/*
    ------------------------------------------------
*/

.footer {
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    background-color: #867070;
    border-radius: 25px 25px 0 0;
    color: white;
    font-family: "Open Sans";
    padding-top: 40px;
    
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom { 
    background: #000;
    width: 100vw;
    text-align: center;

}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/*
    ------------------------------------------------
*/

@media screen and (max-width: 935px) {

    .navbar-frame {
        position: sticky;
        top: 50px;
        z-index: 10000;
        background: #F5EBEB;
    }

    nav {
        justify-content: start;
        
    }

    .nav-list-ul{
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: initial;
        background-color: #1b0f0f;
        z-index: 1000;
        /* overflow-y: scroll; */
    }

    .nav-list > li {
        line-height: 6rem;
    }

    .sub-menu {
        display: none;
        position: initial;
        border: 3px solid transparent;
        border-left-color: #eb3007;
        margin-left: 1rem;
        max-height: 0;
    }

    .sub-menu::before {
        display: none;
    }

    .nav-list-ul li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    .menu-icons {
        display: block;
    }

    .ion-md-backspace {
        display: none;
    }

    nav.active .ion-md-backspace {
        display: block;
    }

    nav.active .ion-md-menu {
        display: none;
    } 

    nav.active .nav-list-ul {
        display: flex;
    }


    .menu {
        flex-wrap: wrap;
        
    }

    .top-items {
        width: 20%;
    }

    .go-link a {
        font-size: 15px;
    }

    .category {
        width: 40%;
    }
}

@media screen and (max-width: 700px) {
    
    /* ----- içerik ----- */    
        
        .category {
            width: 75%;
            
        }
    
        .top-items {
            width: 25%;
            height: 4%;
            right: 0;
            top: 0;
            z-index: 1000;
            text-align: center;
            background-color: rgb(255, 255, 255, 0.8);
            border-radius: 5px;
            
        }

        .top-items a {
            font-size: 1.4rem;
            text-decoration: none;
        }

        .langBut {
            font-size: 1.4rem;
        }

        .go-link a {
            font-size: 15px;
        }
}

@media screen and (max-width: 1250px) {
    .sepet {
        padding-top: 5px;
        width: 50px;
        height: 40px;
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 400px) {
    .top-items {
        width: 100px;
    }
}