<div class="menu">
    <div class="category cat">
        <div class="details">
            <div class="img">
                <img src="~/img/havuzSpa.jpg" alt="">
            </div>
            <div class="details-sub">
                <div class="category-content">
                    <p>Havuz & Spa İle Alakalı Aklınıza Takılanlar</p>
                </div>
                <div class="go-link">
                    <a href="#">Havuz & Spa</a>
                </div>
            </div>
        </div>
    </div>

    <div class="category cat">
        <div class="details">
            <div class="img">
                <img src="~/img/masaj.jpg" alt="">
            </div>
            <div class="details-sub">
                <div class="category-content">
                    <p>Masaj Hizmetimiz İle Alakalı Aklınıza Takılanlar</p>
                </div>
                <div class="go-link">
                    <a href="#">Masaj</a>
                </div>
            </div>

        </div>
    </div>

    <div class="category cat">
        <div class="details">
            <div class="img">
                <img src="~/img/restoran.jpg" alt="">
            </div>
            <div class="details-sub">
                <div class="category-content">
                    <p>Restoran ile İlgili Aklınıza Takılanlar</p>
                </div>
                <div class="go-link">
                    <a href="#">Restaurant</a>
                </div>
            </div>
        </div>
    </div>
</div>