<div class="menu">

    <div class="cityImg">
        <div class="image-overlay">
            <img src="img/istanbul2.jpg" alt="İstanbul Boğazı manzarası">
            <div class="overlay-text">
                <p>İstanbul tarihi ve kültürel mirası, muhteşem manzaraları ve harika yemekleri ile ziyaretçilerini cezbediyor.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="category cat">
        <div class="details">
            <div class="img">
                <img src="~/img/Hizmetlerimiz.jpg" alt="">
            </div>
            <div class="details-sub">
                <div class="go-link">
                    <a href="/home/hizmet">Hizmetlerimiz</a>
                </div>
            </div>
        </div>
    </div>

    

   

   
</div>