@model Food

@section CssFurkan{

    <link rel="stylesheet" href="~/css/anaYemekler.css">
    <link rel="stylesheet" href="~/css/mainPage.css">

}

<div class="food">
    <div class="details">
        <div class="img">
            <img src="~/img/@Model.imageUrl" alt="">
        </div>
        <div class="details-sub">
            <div class="food-name">
                <h5>@Model.Name</h5>
            </div>
            <div class="food-price">
                <h5>@Model.Price</h5>
            </div>
            <div class="add-basket">
                    <form method="post" asp-action="AddToCart" asp-controller="Cart" style="display:inline">
                        <input type="hidden" name="foodid" value="@Model.Id" />
                        <input type="hidden" name="quantity" value="1" />
                        <button type="submit" class="btn btn-primary btn-sm">Sepete Ekle</button>
                    </form>
            </div>
        </div>

    </div>
</div>

