@model Food

<div class="card mb-2">
    <img class="card-img-top" src="~/img/@Model.imageUrl" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <span>@Model.Price</span>
        <span>@Model.Description</span>
    </div>
    <div class="card-footer text-center">
        <form method="post" asp-action="AddToCart" asp-controller="Cart" style="display:inline">
            <input type="hidden" name="foodid" value="@Model.Id" />
            <input type="hidden" name="quantity" value="1" />
            <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
        </form>

    </div>
</div>   

