<div class="header">
            <div class="hotel-name">
                <h1>Sheraton Hotel</h1>
            </div>
            <div class="menu-title">
                <h3>&mdash; Menu &mdash;</h3>
            </div>
        </div>